@import "tailwindcss";

@theme {
  --color-inacap-red: #E21C24;
  --color-inacap-dark: #1A1A1A;
  --font-sans: 'Inter', system-ui, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
